@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }

  .shadow-solid {
    box-shadow: 8px 8px black;
    border-radius: 20px;
  }
